<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="<%= client_id %>">
    <title>Express OAuth</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Hello, <%= user.fullName %>! Welcome to Express!</h1>
    <p>You are logged in!</p>
    <form action="/auth/logout" method="POST">
        <button type="submit" onclick="signOut()">
            Sign Out
        </button>
    </form>

    <script>
        function onLoad() {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });
        }

        function signOut() {
            const auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>
</body>

</html>