<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="<%= client_id %>">
    <title>Express OAuth</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>This is the login page</h1>
    <p>Please login!</p>
    <div id="my-signin2"></div>

    <script>
        function onSuccess(googleUser) {
            const id_token = googleUser.getAuthResponse().id_token;
            axios({
                method: 'POST',
                url: 'http://localhost:3000/auth/googleAuthCallback',
                headers: { 'Authorization': 'Bearer ' + id_token }
            }).then((response) => {
                if (response.data == 'success') {
                    location.assign('/home');
                }
            }).catch((error) => {
                console.log(error);
            });
        }

        function onFailure(error) {
            console.log(error);
        }

        function renderButton() {
            gapi.signin2.render('my-signin2', {
                'scope': 'profile email',
                'width': 240,
                'height': 40,
                'longtitle': true,
                'theme': 'dark',
                'onsuccess': onSuccess,
                'onfailure': onFailure
            });
        }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>

</html>